* {
    box-sizing: border-box;
}


/* Style pour le corps de la page */

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #fff;
}


/* Style pour les liens */

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* Style pour les titres */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Georgia, serif;
    font-weight: bold;
    color: #222;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

h2 {
    font-size: 28px;
    margin-bottom: 16px;
}

h3 {
    font-size: 24px;
    margin-bottom: 12px;
}


/* Style pour les paragraphes */

p {
    line-height: 1.5;
    margin: 0;
    padding: 0;
}


/* Style pour les listes */

ul,
ol {
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}


/*pour le header*/


/* Style pour le header */

header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}


/* Style pour la navigation */

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 20px;
}

nav a {
    color: #333;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: #007bff;
}